    
/* .tour-container {
    position: relative;
    display: flex;
    display: flex;
    flex-wrap: wrap;
} 

.tourpics-row {
    width: 25vw;
    height: 25vw;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 0.2vw solid white;
}

.tourpics-row#tourpic1 {
    background-image: url(https://i.imgur.com/19pkvOf.png);
}

.tourpics-row#tourpic2 {
    background-image: url(https://i.imgur.com/VpAj0KZ.png);
}

.tourpics-row#tourpic3 {
    background-image: url(https://i.imgur.com/N5HSlEY.png);
}

.tourpics-row#tourpic4 {
    background-image: url(https://i.imgur.com/SivV5qf.png);
}

@media screen and (max-width: 900px) {
    .tourpics-row {
        width: 50vw;
        height: 50vw

    }
}

@media screen and (max-width: 500px) {
    .tourpics-row {
        width: 100vw;
        height: 100vw
    }
}


.container2 {
    display: flex;
} 

.eat-drinkpics {
    height: 300px;
    width: 300px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    border: 1px dotted black;
}

.container3 {
    display: flex;
} 

.sleepingpics {
    height: 300px;
    width: 300px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    border: 1px dotted black;
}

#testpic {
    background-image: style="background-image: url(https://i.imgur.com/19pkvOf.png)" 
}

img {
    width: 50%;
    height: auto;  
} */



